<!DOCTYPE html>
<html>
<div class="container">
  
  <head>
    <title>PrideGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <section class='hero'>
    <div class="hero-body">

      <h1 class='title level_item has-text-centered'>Pride Guide</h1>
      <h2 class='subtitle level_item has-text-centered'>Building a better LGBTQIA+ community together.</h2>
    </div>
  </section>

  <nav class='level'>  
    <% if current_user.present? %>
      <p class="level-item has-text-centered">
        <%= link_to "#{current_user.username}", user_path(current_user) %>
      </p>
    <% else %>
      <p class="level-item has-text-centered">
        <%= link_to "Login", login_path %> 
    <% end %>
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "Home", home_path %> 
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "About", about_path %> 
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "Help", help_path %> 
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "Contact", contact_path %> 
      </p>
    <% if current_user %>
      <p class="level-item has-text-centered">
        <%= link_to "Logout", login_path, method: :delete %>
      </p>
      <% end %>
  </nav>

     
  </head>

  <body>
    
    <% flash.each do |message_type, message| %>
      <p align="center" style="color: green">
      <div class="alert alert-<%= message_type %>"><%= message %>
      </p></div>
    <% end %>

    <%= yield %>
  </body>
</html>

</div>