<!DOCTYPE html>
<html>
  <head>
    <title>PrideGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p align="right">
      <% if current_user.present? %>
        <%= link_to "#{current_user.username}", user_path(current_user) %>
      <% else %>
        <%= link_to "Login", login_path %>
      <% end %>
      <%= link_to "Resources", resources_path %>
      <%= link_to "Home", home_path %>
      <%= link_to "About", about_path %>
      <%= link_to "Help", help_path %>
      <%= link_to "Contact", contact_path %>
      <% if current_user %>
        <%= link_to "Logout", login_path, method: :delete %>
        <% end %>
    </p>
     
  </head>

  <body>
    
    <% flash.each do |message_type, message| %>
      <p align="center" style="color: green">
      <div class="alert alert-<%= message_type %>"><%= message %>
      </p></div>
    <% end %>

    <%= yield %>
  </body>
</html>
