<!DOCTYPE html>
<html>
<div class="container">
  
  <head>
    <title>PrideGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <section class='hero'>
    <div class="hero-body">

      <h1 class='title level_item has-text-centered'>Pride Guide</h1>
      <h2 class='subtitle level_item has-text-centered'>Building a better LGBTQIA+ community together.</h2>
    </div>
  </section>

  <nav class='level'>  
    <% if current_user.present? %>
    <% else %>
      <p class="level-item has-text-centered">
        <%= link_to "Login", login_path %> 
    <% end %>
      </p>
      <p>
        <form action="/search" method="get">
          <input type="text" name="query" placeholder="Search the site..." />
          <input type="submit" value="Search!" />
        </form>
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "Home", home_path %> 
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "About", about_path %> 
      </p>
      <p class="level-item has-text-centered">
      <%= link_to "Help", help_path %> 
      </p>
    <% if current_user %>
      <p class="level-item">
        <%= link_to "Logout", login_path, method: :delete %>
        <%= link_to user_path(current_user) do %>
          <figure class="media-left">
            <p class="image is-64x64">
            <%= gravatar_for current_user %>
          </p>
        </figure>
        <% end %>
      </p>
      <% end %>
  </nav>

     
  </head>

  <body>
    
    <% flash.each do |message_type, message| %>
      <p align="center" style="color: green">
      <div class="alert alert-<%= message_type %>"><%= message %>
      </p></div>
    <% end %>

    <%= yield %>
  </body>
  <footer class="footer">
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child">
          <div class="content is small">
          <h1 style="Font-family:serif;">About</h1>
          <p>
            Pride Guide was created by Princeton J Rose (He/Him) and Maddie Ward (She/Her) in 2019 to bring together the LGBTQIA+ community. 
          </p>
          </div>
        </div>
        <div class="tile is-child">
          
        </div>
        <div class="tile is-child">    
          <p style="align:right;">
            <strong>Pride Guide</strong> <br>by <a href="https://github.com/PrincetonJRose">Princeton J Rose</a> and <a href="https://github.com/whatstheward">Maddie Ward</a>. 
          </p>
            <div class="content is-small" style="anchor: bottom;">
            <a class="button">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
            <a class="button" href="/contact">
              <span class="icon">
                <i class="fas fa-at"></i>
              </span>
              <span>Contact Us!</span>
             </a>
           </p>
          </div>
        </div>
      </div>
    </div>
</footer>
</html>

</div>