<!DOCTYPE html>
<html>
  <head>
    <title>PrideGuide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <p align="right">
      &emsp;&emsp; <%= link_to 'text', user_path %>
      &emsp;&emsp;<%= link_to "Home", home_path %>
      &emsp;&emsp;<%= link_to "About", about_path %>
      &emsp;&emsp;<%= link_to "Help", help_path %>
      &emsp;&emsp;<%= link_to "Contact", contact_path %>
      &emsp;&emsp;
    </p>
  </head>

  <body>
    
    <% flash.each do |message_type, message| %>
      <p align="center" style="color: green">
      <div class="alert alert-<%= message_type %>"><%= message %>
      </p></div>
    <% end %>

    <%= yield %>
  </body>
</html>
