<div class="container"> 
    <div class="wrapper" style="margin-top:4%;">
        <div class="one">
            <div class="card" style="width:15em; margin-bottom:10%;">
                <div class="card-content is-vertical-center" style="padding-bottom:0em;">
                        <%= gravatar_for @user %>    
                </div> 
                <div class="card-content is-vertical-center" style="padding-top: .5em; padding-bottom:.5em;">
                    <p class="title is-4 has-text-centered"><%=@user.username%></p>
                </div>
                <div class="card-content is-vertical-center" style="padding-top:1em;">
                    <p class="has-text-centered"><%= @user.bio %></p>
                </div>
                <% if @user != current_user %>
                    <%= form_tag "/add/#{@user.id}", method: :post %>
                        <button class="button is-primary is-rounded" type="submit" style="margin:1em;">Add Friend</button>
                    <% end %>                
                </div>
                <div class="card" style="width:15em; margin-bottom:10%;">
                    <div class="card-header has-text-centered">
                        <p class="card-header-title is-3">Friends</p>
                    </div>
                <ul>
                    <div class="column is-one-half">
                        <% @user.friends.take(5).each do |friend|%>
                        <div class="card-content is-flex is-horizontal-center">
                            <li>
                                <%= link_to user_path(friend) do %>
                                    <figure class="media">
                                        <p class="image is-64x64 center">
                                            <%= gravatar_for friend %>
                                        </p>
                                        <p class="content" style="margin:.5em;">
                                            <%= friend.username %>
                                        </p>
                                    </figure>
                                <% end %>
                            </li>
                        </div>
                    </div>
                        <% end %>
                </ul>
            </div>
        </div>
    


        <div class="two">
                <% @posts.each do |post| %>
                    <div class="post-card" style="margin: 2em;">
                        <div class="post-card-header">
                            <h1 class="title is-3" style="margin: 0.5em 0.5em 0.5em 1em">
                                <%= post.title %>
                            </h1>
                        </div>
                        <hr class="divider">
                        <div class="content" style="padding:auto;margin:auto;padding-left: 20px;padding-right: 20px;padding-top: 0px;">
                            <%= post.content %>
                        </div>
                        <hr>
                            <% post.comments.each do |c| %>
                                <div class="card">
                                    <div class="" style="padding-left: 10px;padding-top: 10px;padding-bottom: 10px;padding-right: 10px;">
                                        <%= c.user.username %><br>
                                    </div>
                                        <%= c.content %>
                                    </p>
                                </div>
                            <% end %>
                        <%= form_for @comment do |f| %>
                            <%= f.hidden_field :post_id, value: "#{post.id}" %>
                            <%= f.text_field :content %>
                            <%= f.submit "Comment" %> 
                        <% end %>
                         <footer class="card-footer">                        
                            <a class="button is-warning" style="margin:.5em;position:relative;left:27em;" href="posts/<%=post.id%>/edit" class="card-footer-item">Edit</a>
                            <a class="button is-danger" style="margin:.5em;position:relative;left:27em;" href="posts/delete" class="card-footer-item">Delete</a>
                        </footer>
                        </div>
                    <% end %>

            <% if current_user.id == @user.id %>
                <%= render template: 'posts/new' %>
            <% end %>
            </div>
        </div>            
    </div>
</div>   
