<div class="columns">    
    <div class="column is-one-quarter">   
        <div class="card">
            <div class="card-content is-vertical-center" style="width: 248px; margin: auto; padding-bottom:0em;">
                <figure class="image is-200x200">
                    <%= gravatar_for @user %>    
                </figure>
            </div> 
            <div class="card-content is-vertical-center" style="width: 248px; margin: auto; padding-top: .5em; padding-bottom:.5em;">
                <p class="title is-4 has-text-centered"><%=@user.username%></p>
            </div>
            <div class="card-content is-vertical-center" style="width: 248px; margin: auto; padding-top:1em;">
                <p class="has-text-centered"><%= @user.bio %></p>
            </div>
            <% if @user != current_user %>
                <%= form_tag "/add/#{@user.id}", method: :post %>
                    <button class="button is-primary is-rounded" type="submit" style="margin:1em;">Add Friend</button>
                <% end %>                
            </div>
            <div class="content"">
                <strong>Total Friends:<%= @user.friends.size %></strong>
            </div>
            <div class="tile">
                <ul>
                    <% @user.friends.each do |friend|%>
                        <li>
                            <%= link_to user_path(friend) do %>
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                    <%= gravatar_for friend %>
                                    </p>
                                    <p>
                                        <%= friend.username %>
                                    </p>
                                </figure>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>





<p>
    <ul>
        <% @posts.each do |post| %>
            <%= post.title %>
            <%= post.content %>
            <% post.comments.each do |c| %>
                <ul>
                    <strong><%= c.user.username %></strong>
                    <%= c.content %>
                </ul>
                <% end %>
            <%= form_for @comment do |f| %>
                <%= f.hidden_field :post_id, value: "#{post.id}" %>
                <%= f.text_field :content %>
                <%= f.submit "Comment" %>
            <% end %>
    </ul>
        <% end %>
</p>

<% if current_user.id == @user.id %>
    <%= render template: 'posts/new' %>
<% end %>
