<br>
<p>Users:</p>
<% if @users.size != 0 %>
    <ul>
        <% @users.each do |user| %>
            <% if user == current_user %>
                <% next %>
            <% end %>
            <li>
                <p><%= link_to user.username, user_path(user) %></p>
                <% if user.online == true %>
                    <% status = "Online" %>
                <% else %>
                    <% status = "Offline" %>
                <% end %>
                <p>Status: <%= status %></p>
            </li>
        <% end %>
    </ul>
<% else %>
    <p>No matching users were found.</p>
<% end %>
<br>
<p>Posts:</p>
<% if @posts.size !=0 %>
    <ul>
        <% @posts.each do |post| %>
            <li>
                <p>Title: <%= post.title %></p>
                <p>By user: <%= link_to post.user.username, user_path(post.user) %></p>
                <p>Content: <%= post.content %></p>
            </li>
    </ul>
<% else %>
    <p>No matchings posts were found.</p>
<% end %>
<br>
<p>Resources:</p>
<% if @resources.size != 0 %>
    <ul>
        <% @resources.each do |resource| %>
        <li><%= link_to resource.name, resource_path(resource) %></li>
        <% end %>
    </ul>
<% else %>
    <p>No matching resources were found.</p>
<% end %>
